<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investors List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #e0e0e0;
        }
        
    </style>
</head>
<body>
    <h1>Investors List</h1>
    <table>
        <thead>
            <tr>
                <th>Firm Id</th>
                <th>Firm Name</th>
                <th>Firm Type</th>
                <th>Date Added</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% if investor_data %}
                {% for investor in investor_data %}
                <tr>
                        <td>{{ investor.firm_id }}</td>
                        <td>{{ investor.firm_name }}</td>
                        <td>{{ investor.firm_type }}</td>
                        <td>{{ investor.date_added }}</td>
                        <td>{{ investor.address }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No investors found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    
</body>
</html>